{% extends  'testapp/base.html' %}

{% load static %}


{% block body_block %}


{% comment %} <div class="card" style="width: 23rem;  margin-left: 300px; margin-top:-310px;">

 {%  if user.profile.profile_pic   %} 


  <img src="{{ user.profile.profile_pic.url }}" class="card-img-top" alt="..."  >

  {% else%}    

             <img width=100px height=100px float=right src ="{% static 'img/alaye.jpg'   %}">

{% endif %}
 {% endcomment %}
  {% comment %} <div class="card-body">
    <h5 style="color:brown;" class="card-title">{{ user.profile.first_name }} {{ user.last_name }}</h5>
    <p class="card-text">    <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>First Name:</strong> {{ user.profile.first_name }}</p>
        <p><strong>Last Name:</strong> {{ user.last_name }}</p>
        <p><strong>Contact:</strong> {{ user.profile.contact }}</p>
        <p><strong>Location:</strong> {{ user.profile.location }}</p>
    <a href="{% url 'account'   %}" class="btn btn-primary">Edit Profile</a>
  </div>
</div> {% endcomment %}

        {% comment %} <strong>Joined DANGS:</strong> {{ user.profile.created_at }} &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        <strong>Last profile update:</strong> {{ user.profile.created_at }}</p></p> {% endcomment %}


<div style="margin-left:300px; margin-top:-300px;">

 {%  if user.profile.profile_pic   %} 

        <img width=200px height=200px float=right style="border-radius: 50%;" src ="{{ user.profile.profile_pic.url }}">

  {% else%}    

             <img width=100px height=100px style="border-radius: 50%;" float=right src ="{% static 'img/alaye.jpg'   %}">

 {% endif %}

<div style="margin-left: 240px; margin-top: -150px ;color:white;">
  <h2>  {{ user.username }} </h2> <a href="{% url 'account' %}"  style="margin-left: 100px; margin-top: -80px ;" class="btn btn-primary">Edit Profile</a>
<br>
        {% comment %} <p><strong>Email:</strong> {{ user.email }}</p> {% endcomment %}
        {% comment %} <p><strong>First Name:</strong> {{ user.profile.first_name }}</p> {% endcomment %}
        {% comment %} <p><strong>Last Name:</strong> {{ user.last_name }}</p> {% endcomment %}
              <i class="bi bi-geo-alt-fill"> {{ user.profile.location }}  </i><br>
                   <i class="bi bi-telephone-outbound-fill"> &nbsp;{{ user.profile.contact }}</i>



       {% comment %} <strong>Joined DANGS:</strong> {{ user.profile.created_at }}
        <strong>Last profile update:</strong> {{ user.profile.created_at }} {% endcomment %}


</div>



{% comment %} {% if messages %} 
 {% for message in messages %} 
 <div class="alert alert-success">{{ message }}</div> 
 {% endfor %} 
{% endif %}  {% endcomment %}
{% comment %} <form method="post"  >  {% endcomment %}
{% comment %} {% csrf_token %}  {% endcomment %}
{% comment %} {{ profile_key.as_p }}  {% endcomment %}

{% comment %} <label for="avatar" class="control-label">Avatar</label>
<input type="file" name="avatar" id="avatar"> {% endcomment %}

{% comment %} <input type="submit" value="Edit" class="btn btn-success">  {% endcomment %}
{% comment %} </form>  {% endcomment %}
{% endblock %}