{% extends  'testapp/base.html' %}
{% load static %}

{% block body_block %}

<div style=" margin-left:390px;margin-top:-320px">
 <div class="columns is-mobile">
  <div class="column is-offset-one-fifth">


<div class="field has-addons">
<form>
  <div class="control">
    <input  style="width:470px; background-color:black;border:white solid 1px;color:white;" class="input is-large" name="q" type="text" placeholder="Search users..." value="{{ request.GET.q }}">
  {% comment %} </div>
  <div > {% endcomment %}
  	<button type="submit" class="button is-danger"><i class="bi bi-search"></i></button>
  </div>
  </form>
</div>
<br><hr>

</div>
</div>

<div class="column is-one-quarter">

{% for user in users %}
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
          {% if user.profile.profile_pic %}
            <img  style =" width:50px;heigth:50px;border-radius:20%" src="{{ user.profile.profile_pic.url }}" alt="Placeholder image">
          {% else %}
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
          {% endif %}
      </figure>
    </div>
    <div class="media-content">
      <div class="content" style =" margin-left:100px;margin-top:-70px;">
          <strong>{{ user.profile.first_name }} {{ user.profile.last_name }}</strong><small>@{{ user.username }}</small>
       <h1><a href="{% url 'newconversation' user.username %}" class="button is-info"> <i class="bi bi-envelope-plus-fill"></i></a></h1>
      </div>
      <br>
      <hr>
    </div>
  </article>
</div>
{% endfor %}
	
</div>
</div>

{% endblock %}